LIST

In [6]:
countries = ["Singapore", "United States", "United Kingdom", "Australia"]
countries

['Singapore', 'United States', 'United Kingdom', 'Australia']

In [8]:
countries[0]

'Singapore'

In [9]:
for country in countries:
    print(country)

Singapore
United States
United Kingdom
Australia

In [12]:
countries.append("Canada")
countries

In [16]:
countries.insert(0, "Italy")
countries

['Italy',
 'Italy',
 'Italy',
 'Singapore',
 'United States',
 'United Kingdom',
 'Australia',
 'Canada',
 'Canada']

SETS

In [72]:
unique_countries = set(countries)
print(unique_countries)

{'Singapore', 'Canada', 'Italy', 'United States', 'Australia', 'United Kingdom'}

DICTIONARY

In [73]:
fruits = {"apple":"red", "banana":"yellow", "grape":"purple"}
fruits

{'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}

In [74]:
fruit_list = [("apple:","red"),("banana","yellow"),("grape","purple")]
fruit_list

[('apple:', 'red'), ('banana', 'yellow'), ('grape', 'purple')]

In [75]:
characters = [
    {
        "Name":"Captain America",
        "Health": 70,
        "Weapon": "Shield",
        "Gender":"Male"
    },
    {
        "Name": "Black Widow",
        "Health": 40,
        "Weapon": "Gauntlet",
        "Gender": "Female"
    },
    {
        "Name": "Thor",
        "Health": 100,
        "Weapon": "Hammer",
        "Gender": "Male"
    },
    {
        "Name": "Iron Man",
        "Health": 80,
        "Weapon": "Suit",
        "Gender": "Male"
    }
]


for char in characters:
    pronoun = "He" if char["Gender"] == "Male" else "She"
    print(f'{char["Name"]} has {char["Health"]} health points. {pronoun} uses a {char["Weapon"]}.')

Captain America has 70 health points. He uses a Shield.
Black Widow has 40 health points. She uses a Gauntlet.
Thor has 100 health points. He uses a Hammer.
Iron Man has 80 health points. He uses a Suit.

In [76]:
fruits = {"apple":"red", "banana":"yellow", "grape":"purple"}
fruits

{'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}

In [82]:

fruits["pear"] = "green"
fruits

{'apple': 'green', 'grape': 'purple', 'watermelon': 'green', 'pear': 'green'}

In [83]:
#can add an item into the dictionary while modifying an existing entry -> use update
fruits.update({"watermelon":"green","apple":"green"})
fruits

{'apple': 'green', 'grape': 'purple', 'watermelon': 'green', 'pear': 'green'}

In [84]:
fruits.update({"banana":"yellow"}) #had to do this because i accidentally popped it earlier - ignore line
fruits.pop("banana")
fruits
#popitem -> pops the last item

{'apple': 'green', 'grape': 'purple', 'watermelon': 'green', 'pear': 'green'}

In [85]:
student = {"Name":"Alice","Age":20,"Gender":"F"}

#key 
#value
#items() -> method needed

for key,value in student.items():
    print(f"{key}:{value}")

Name:Alice
Age:20
Gender:F

In [86]:
#fromkeys method -> creates a new dictionary with keys form the list where all values are set to a default value
keys = ["a", "b", "c"]
default = 0
new_dict = dict.fromkeys(keys,default)
print(new_dict)

{'a': 0, 'b': 0, 'c': 0}

In [87]:
#performing math operations on the value
prices = { "apple":0.5,"orange":0.75,"banana":0.25 }
double_prices = {fruit:price * 2 for fruit,price in prices.items()}
double_prices

{'apple': 1.0, 'orange': 1.5, 'banana': 0.5}

FUNCTIONS

In [90]:
def describe_pet(animal, name):
    print(f"I have a {animal} named {name}")
    
describe_pet("dog","Dexter")

I have a dog named Dexter

In [91]:
# map(function,iterable)
numbers = [1,2,3,4,5]
squared_numbers = list(map(lambda x: x**2, numbers))
squared_numbers

[1, 4, 9, 16, 25]