# Web Scraping with Pandas

In [2]:
import pandas as pd

## Reading a .csv from a URL with Pandas

Target website: https://www.football-data.co.uk/data.php

In [4]:
#Reading a csv file from the website
df_prem25 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')
df_prem25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [9]:
#Renaming columns 
df_prem25.rename(columns={'FTHG':'HomeGoals',
                          'FTAG':'AwayGoals'}, inplace=True)

In [10]:
df_prem25

,Div,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

# Read .csv from Multiple URLs with Pandas

<b> Link: root + season + league </b>

In [14]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2425" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [15]:
#Creating a root variable
root = 'https://www.football-data.co.uk/mmz4281/'

### Multiple leagues
https://www.football-data.co.uk/mmz4281/2425/E0.csv <br>
https://www.football-data.co.uk/mmz4281/2425/E1.csv <br>
https://www.football-data.co.uk/mmz4281/2425/E2.csv <br>
https://www.football-data.co.uk/mmz4281/2425/E3.csv <br>
https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [19]:
#creating a list of the leagues
leagues = ['e0','e1','e2','e3','ec']
frames = []

#looping through the leagues
for league in leagues:
    df = pd.read_csv(f'{root}/2425/{league}.csv')
    frames.append(df)

In [20]:
len(frames)

5

In [25]:
#showing the first 3 elements
frames[0:3]

[    Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    E0  16/08/2024  20:00     Man United       Fulham     1     0   H     0
 1    E0  17/08/2024  12:30        Ipswich    Liverpool     0     2   A     0
 2    E0  17/08/2024  15:00        Arsenal       Wolves     2     0   H     1
 3    E0  17/08/2024  15:00        Everton     Brighton     0     3   A     0
 4    E0  17/08/2024  15:00      Newcastle  Southampton     1     0   H     1
 ..   ..         ...    ...            ...          ...   ...   ...  ..   ...
 375  E0  25/05/2025  16:00      Newcastle      Everton     0     1   A     0
 376  E0  25/05/2025  16:00  Nott'm Forest      Chelsea     0     1   A     0
 377  E0  25/05/2025  16:00    Southampton      Arsenal     1     2   A     0
 378  E0  25/05/2025  16:00      Tottenham     Brighton     1     4   A     1
 379  E0  25/05/2025  16:00         Wolves    Brentford     1     1   D     0

      HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  \
 0       0  ...     1.86     2.07   1.83   2.11     1.88     2.11     1.82
 1       0  ...     2.05     1.88   2.04   1.90     2.20     2.00     1.99
 2       0  ...     2.02     1.91   2.00   1.90     2.05     1.93     1.99
 3       1  ...     1.87     2.06   1.86   2.07     1.92     2.10     1.83
 4       0  ...     1.87     2.06   1.88   2.06     1.89     2.10     1.82
 ..    ...  ...      ...      ...    ...    ...      ...      ...      ...
 375     0  ...     2.00     1.85   2.01   1.90     2.01     1.95     1.95
 376     0  ...     1.80     2.05   1.86   2.08     1.86     2.08     1.81
 377     1  ...     2.03     1.83   2.04   1.87     2.07     1.87     2.03
 378     0  ...     1.95     1.90   2.00   1.93     2.01     1.93     1.95
 379     1  ...     1.85     2.00   1.90   2.03     1.90     2.05     1.85

      AvgCAHA  BFECAHH  BFECAHA
 0       2.05     1.90     2.08
 1       1.88     2.04     1.93
 2       1.87     2.02     1.96
 3       2.04     1.88     2.11
 4       2.05     1.89     2.10
 ..       ...      ...      ...
 375     1.91     1.93     2.05
 376     2.05     1.86     2.14
 377     1.83     2.06     1.89
 378     1.89     2.06     1.93
 379     1.97     1.89     2.10

 [380 rows x 120 columns],
     Div        Date   Time          HomeTeam          AwayTeam  FTHG  FTAG  \
 0    E1  09/08/2024  20:00         Blackburn             Derby     4     2
 1    E1  09/08/2024  20:00           Preston  Sheffield United     0     2
 2    E1  10/08/2024  12:30           Cardiff        Sunderland     0     2
 3    E1  10/08/2024  12:30              Hull      Bristol City     1     1
 4    E1  10/08/2024  12:30             Leeds        Portsmouth     3     3
 ..   ..         ...    ...               ...               ...   ...   ...
 547  E1  03/05/2025  12:30  Sheffield United         Blackburn     1     1
 548  E1  03/05/2025  12:30        Sunderland               QPR     0     1
 549  E1  03/05/2025  12:30           Swansea            Oxford     3     3
 550  E1  03/05/2025  12:30           Watford    Sheffield Weds     1     1
 551  E1  03/05/2025  12:30         West Brom             Luton     5     3

     FTR  HTHG  HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  \
 0     H     1     0  ...     1.85     2.05   1.85   2.06     1.97     2.10
 1     A     0     1  ...     1.92     1.98   1.93   1.98     1.97     1.99
 2     A     0     1  ...     2.11     1.79   2.13   1.80     2.13     1.81
 3     D     0     0  ...     1.99     1.91   2.00   1.91     2.04     1.91
 4     D     1     2  ...     1.92     1.98   1.93   1.95     2.00     1.98
 ..   ..   ...   ...  ...      ...      ...    ...    ...      ...      ...
 547   D     0     0  ...     1.89     2.01   1.90   2.01     1.91     2.11
 548   A     0     1  ...     2.01     1.89   2.04   1.88     2.19     1.89
 549   D     1     1  ...     2.02     1.88   2.03   1.88     2.08     1.89
 550   D     1     1  ...     1.85     2.00   1.86   2.05     2.00     2.05
 551   H     3     1  ...     1.91     1.99   1.89   2.01     1.97     2.01

      AvgCAHH  AvgCAHA  BFECAHH  BFECAHA
 0       1.85     1.99     1.88     2.11
 1       1.90     1.94     1.94     2.04
 2       2.09     1.79     2.18     1.83
 3       1.99     1.87     2.03     1.96
 4       1.94     1.89     2.00     1.97
 ..       ...      ...      ...      ...
 547     1.84     2.04     1.89     2.10
 548     2.04     1.81     2.16     1.82
 549     2.00     1.85     2.09     1.89
 550     1.92     1.94     2.00     1.99
 551     1.87     1.94     1.92     2.05

 [552 rows x 120 columns],
     Div        Date   Time      HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    E2  09/08/2024  20:00      Barnsley     Mansfield     1     2   A     1
 1    E2  10/08/2024  17:30    Birmingham       Reading     1     1   D     0
 2    E2  10/08/2024  17:30   Bristol Rvs   Northampton     1     0   H     0
 3    E2  10/08/2024  17:30        Burton       Lincoln     2     3   A     2
 4    E2  10/08/2024  17:30  Crawley Town     Blackpool     2     1   H     2
 ..   ..         ...    ...           ...           ...   ...   ...  ..   ...
 547  E2  03/05/2025  15:00   Northampton         Wigan     1     1   D     1
 548  E2  03/05/2025  15:00       Reading      Barnsley     2     4   A     0
 549  E2  03/05/2025  15:00     Rotherham     Peterboro     2     1   H     1
 550  E2  03/05/2025  15:00    Shrewsbury  Crawley Town     1     2   A     0
 551  E2  03/05/2025  15:00       Wycombe     Stockport     1     3   A     1

      HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  \
 0       2  ...     2.03     1.83   2.02   1.87     2.05     2.00     1.95
 1       1  ...     1.80     2.05   1.81   2.10     1.83     2.10     1.80
 2       0  ...     1.98     1.88   1.98   1.91     1.98     1.92     1.93
 3       2  ...     1.80     2.05   1.82   2.08     1.88     2.09     1.80
 4       0  ...     1.83     2.03   1.85   2.04     1.86     2.05     1.82
 ..    ...  ...      ...      ...    ...    ...      ...      ...      ...
 547     0  ...     2.05     1.80   2.09   1.78     2.11     1.80     2.03
 548     0  ...     1.85     2.00   1.79   2.07     1.85     2.12     1.79
 549     1  ...     1.93     1.93   1.93   1.92     2.00     1.95     1.91
 550     0  ...     2.03     1.83   2.05   1.81     2.10     1.83     2.03
 551     0  ...     1.85     2.00   1.87   1.99     1.87     2.15     1.80

      AvgCAHA  BFECAHH  BFECAHA
 0       1.85     2.06     1.93
 1       2.01     1.82     2.16
 2       1.86     2.02     1.97
 3       2.01     1.88     2.11
 4       1.99     1.89     2.08
 ..       ...      ...      ...
 547     1.78     2.13     1.84
 548     2.03     1.87     2.11
 549     1.89     1.98     2.00
 550     1.79     2.11     1.87
 551     2.04     1.88     2.11

 [552 rows x 120 columns]]

In [31]:
#creating a list of the leagues
leagues = ['e0','e1','e2','e3','ec']
frames = []

#looping through the leagues
for league in leagues:
    for season in range(19, 25):
        df = pd.read_csv(f'{root}/{str(season)}{str(season+1)}/{league}.csv',encoding='unicode_escape')
        frames.append(df)

In [32]:
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,26/07/2020,16:00,Leicester,Man United,0,2,A,0,0,...,2.03,0.50,1.89,2.01,1.88,2.05,1.94,2.05,1.86,2.02
376,E0,26/07/2020,16:00,Man City,Norwich,5,0,H,2,0,...,5.77,-3.75,2.03,1.87,2.01,1.88,2.06,1.88,2.02,1.84
377,E0,26/07/2020,16:00,Newcastle,Liverpool,1,3,A,1,1,...,2.40,1.00,1.94,1.96,1.95,1.97,2.03,2.00,1.95,1.92
378,E0,26/07/2020,16:00,Southampton,Sheffield United,3,1,H,0,1,...,2.01,-0.50,1.97,1.93,2.00,1.93,2.03,1.96,1.98,1.89
379,E0,26/07/2020,16:00,West Ham,Aston Villa,1,1,D,0,0,...,2.03,0.00,1.93,1.97,1.95,1.98,1.99,2.00,1.93,1.95

### Organize All The Data in a Dictionary

In [36]:
#creating a dict with the league name as the key
dict_countries = {
    'Spanish La Liga':'SP1',
    'Spanish Segunda Division':'SP2',
    'German Bundesliga':'D1',
    'English Premier League':'E0',
    'English League 1':'E2',
    'English League 2':'E3'
}

In [38]:
#getting a dictionary element
dict_countries['English League 2']

'E3'

In [40]:
dict_historical_data = {}


#looping through the leagues
for league in dict_countries:
    frames = []
    for season in range(23, 25):
        df = pd.read_csv(f'{root}/{str(season)}{str(season+1)}/{dict_countries[league]}.csv',encoding='unicode_escape')
        df.insert(1,'season',season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [41]:
dict_historical_data

{'Spanish La Liga':      Div  season        Date   Time    HomeTeam     AwayTeam  FTHG  FTAG FTR  \
 0    SP1      23  11/08/2023  18:30     Almeria    Vallecano     0     2   A
 1    SP1      23  11/08/2023  21:00     Sevilla     Valencia     1     2   A
 2    SP1      23  12/08/2023  16:00    Sociedad       Girona     1     1   D
 3    SP1      23  12/08/2023  18:30  Las Palmas     Mallorca     1     1   D
 4    SP1      23  12/08/2023  20:30  Ath Bilbao  Real Madrid     0     2   A
 ..   ...     ...         ...    ...         ...          ...   ...   ...  ..
 375  NaN      24  24/05/2025  20:00      Getafe        Celta     1     2   A
 376  NaN      24  24/05/2025  20:00   Vallecano     Mallorca     0     0   D
 377  NaN      24  25/05/2025  13:00      Girona   Ath Madrid     0     4   A
 378  NaN      24  25/05/2025  15:15  Villarreal      Sevilla     4     2   H
 379  NaN      24  25/05/2025  20:00  Ath Bilbao    Barcelona     0     3   A

      HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
 0       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 1       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 2       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 3       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 4       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 ..    ...  ...    ...   ...    ...    ...    ...    ...       ...       ...
 375     1  ...   4.85  3.88   1.77   5.30    3.9   1.79      2.08      1.89
 376     0  ...   1.53  4.19   7.29   1.50    4.6   8.20      2.10      1.87
 377     0  ...   3.48  3.57   2.16   3.50    3.7   2.24      1.60      2.64
 378     3  ...   1.75  4.42   4.30   1.80    4.3   4.60      1.60      2.62
 379     0  ...   3.49  4.00   2.03   3.35    4.0   2.18      1.47      3.05

      BFECAHH  BFECAHA
 0        NaN      NaN
 1        NaN      NaN
 2        NaN      NaN
 3        NaN      NaN
 4        NaN      NaN
 ..       ...      ...
 375     1.95     2.03
 376     1.85     2.14
 377     2.04     1.94
 378     2.03     1.95
 379     2.07     1.91

 [760 rows x 133 columns],
 'Spanish Segunda Division':      Div  season        Date   Time    HomeTeam      AwayTeam  FTHG  FTAG FTR  \
 0    SP2      23  11/08/2023  18:00  Amorebieta       Levante     1     1   D
 1    SP2      23  11/08/2023  20:30  Valladolid      Sp Gijon     2     0   H
 2    SP2      23  12/08/2023  18:00   Santander         Eibar     4     0   H
 3    SP2      23  12/08/2023  20:00    Zaragoza  Villarreal B     2     0   H
 4    SP2      23  12/08/2023  21:00       Elche        Ferrol     0     1   A
 ..   ...     ...         ...    ...         ...           ...   ...   ...  ..
 457  NaN      24  01/06/2025  17:30   La Coruna         Elche     0     4   A
 458  NaN      24  01/06/2025  17:30     Levante         Eibar     1     0   H
 459  NaN      24  01/06/2025  17:30      Oviedo         Cadiz     2     1   H
 460  NaN      24  01/06/2025  17:30   Santander       Granada     2     1   H
 461  NaN      24  01/06/2025  20:00     Cordoba      Albacete     1     1   D

      HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
 0       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 1       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 2       3  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 3       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 4       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 ..    ...  ...    ...   ...    ...    ...    ...    ...       ...       ...
 457     0  ...   5.74  3.60   1.65   6.20   3.95   1.69      2.06      1.90
 458     0  ...   1.66  3.93   4.99   1.75   3.90   5.70      1.83      2.16
 459     2  ...   1.44  4.13   8.23   1.41   5.00  10.50      2.18      1.83
 460     1  ...   2.28  3.51   2.99   2.30   3.65   3.35      1.80      2.22
 461     0  ...   1.70  4.23   4.32   1.70   4.90   4.80      1.40      3.45

      BFECAHH  BFECAHA
 0        NaN      NaN
 1        NaN      NaN
 2        NaN      NaN
 3        NaN      NaN
 4        NaN      NaN
 ..       ...      ...
 457     2.08     1.89
 458     1.97     2.01
 459     2.02     1.94
 460     1.98     1.99
 461     1.85     2.15

 [924 rows x 133 columns],
 'German Bundesliga':      Div  season        Date   Time       HomeTeam       AwayTeam  FTHG  FTAG  \
 0     D1      23  18/08/2023  19:30  Werder Bremen  Bayern Munich     0     4
 1     D1      23  19/08/2023  14:30       Augsburg     M'gladbach     4     4
 2     D1      23  19/08/2023  14:30     Hoffenheim       Freiburg     1     2
 3     D1      23  19/08/2023  14:30     Leverkusen     RB Leipzig     3     2
 4     D1      23  19/08/2023  14:30      Stuttgart         Bochum     5     0
 ..   ...     ...         ...    ...            ...            ...   ...   ...
 301  NaN      24  17/05/2025  14:30     Hoffenheim  Bayern Munich     0     4
 302  NaN      24  17/05/2025  14:30          Mainz     Leverkusen     2     2
 303  NaN      24  17/05/2025  14:30     M'gladbach      Wolfsburg     0     1
 304  NaN      24  17/05/2025  14:30     RB Leipzig      Stuttgart     2     3
 305  NaN      24  17/05/2025  14:30       St Pauli         Bochum     0     2

     FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
 0     A   0.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 1     D   3.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 2     A   0.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 3     H   2.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 4     H   2.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 ..   ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
 301   A   0.0  ...   4.83  4.58   1.65   5.00   4.70   1.69      1.35
 302   D   1.0  ...   2.57  3.99   2.56   2.46   3.95   2.90      1.51
 303   A   0.0  ...   2.31  4.21   2.78   2.34   4.30   2.88      1.38
 304   A   2.0  ...   1.89  4.59   3.54   2.04   4.40   3.45      1.35
 305   A   0.0  ...   1.77  4.19   4.43   1.77   4.20   4.90      1.69

      BFEC<2.5  BFECAHH  BFECAHA
 0         NaN      NaN      NaN
 1         NaN      NaN      NaN
 2         NaN      NaN      NaN
 3         NaN      NaN      NaN
 4         NaN      NaN      NaN
 ..        ...      ...      ...
 301      3.70     1.92     2.06
 302      2.92     1.85     2.16
 303      3.50     2.07     1.90
 304      3.70     2.04     1.94
 305      2.40     1.99     1.99

 [612 rows x 133 columns],
 'English Premier League':      Div  season        Date   Time       HomeTeam       AwayTeam  FTHG  FTAG  \
 0     E0      23  11/08/2023  20:00        Burnley       Man City     0     3
 1     E0      23  12/08/2023  12:30        Arsenal  Nott'm Forest     2     1
 2     E0      23  12/08/2023  15:00    Bournemouth       West Ham     1     1
 3     E0      23  12/08/2023  15:00       Brighton          Luton     4     1
 4     E0      23  12/08/2023  15:00        Everton         Fulham     0     1
 ..   ...     ...         ...    ...            ...            ...   ...   ...
 375  NaN      24  25/05/2025  16:00      Newcastle        Everton     0     1
 376  NaN      24  25/05/2025  16:00  Nott'm Forest        Chelsea     0     1
 377  NaN      24  25/05/2025  16:00    Southampton        Arsenal     1     2
 378  NaN      24  25/05/2025  16:00      Tottenham       Brighton     1     4
 379  NaN      24  25/05/2025  16:00         Wolves      Brentford     1     1

     FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
 0     A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 1     H     2  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 2     D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 3     H     1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 4     A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
 ..   ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
 375   A     0  ...   1.30  6.11  10.20   1.27    7.0  13.00      1.50
 376   A     0  ...   3.50  3.86   2.06   3.55    3.9   2.14      1.76
 377   A     0  ...  12.20  6.11   1.28  13.00    6.8   1.28      1.45
 378   A     1  ...   3.63  4.12   1.95   3.95    4.2   1.93      1.51
 379   D     0  ...   2.98  3.80   2.31   3.05    3.8   2.42      1.54

      BFEC<2.5  BFECAHH  BFECAHA
 0         NaN      NaN      NaN
 1         NaN      NaN      NaN
 2         NaN      NaN      NaN
 3         NaN      NaN      NaN
 4         NaN      NaN      NaN
 ..        ...      ...      ...
 375      2.94     1.93     2.05
 376      2.28     1.86     2.14
 377      3.15     2.06     1.89
 378      2.92     2.06     1.93
 379      2.78     1.89     2.10

 [760 rows x 134 columns],
 'English League 1':      Div  season        Date   Time     HomeTeam        AwayTeam  FTHG  FTAG  \
 0     E2      23  05/08/2023  15:00     Barnsley       Port Vale     7     0
 1     E2      23  05/08/2023  15:00    Blackpool          Burton     2     0
 2     E2      23  05/08/2023  15:00       Bolton         Lincoln     3     0
 3     E2      23  05/08/2023  15:00    Cambridge          Oxford     2     0
 4     E2      23  05/08/2023  15:00     Carlisle  Fleetwood Town     1     1
 ..   ...     ...         ...    ...          ...             ...   ...   ...
 547  NaN      24  03/05/2025  15:00  Northampton           Wigan     1     1
 548  NaN      24  03/05/2025  15:00      Reading        Barnsley     2     4
 549  NaN      24  03/05/2025  15:00    Rotherham       Peterboro     2     1
 550  NaN      24  03/05/2025  15:00   Shrewsbury    Crawley Town     1     2
 551  NaN      24  03/05/2025  15:00      Wycombe       Stockport     1     3

     FTR  HTHG  ...  1XBCH 1XBCD 1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
 0     H     2  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 1     H     2  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 2     H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 3     H     2  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 4     D     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 ..   ..   ...  ...    ...   ...   ...    ...    ...    ...       ...
 547   D     1  ...   2.36  3.31  2.91   2.50   3.25   3.25      2.40
 548   A     0  ...   1.66  3.91  4.76   1.70   4.30   5.30      1.60
 549   H     1  ...   1.75  4.16  4.06   1.80   4.50   4.30      1.46
 550   A     0  ...   2.71  3.41  2.46   2.82   4.00   2.50      1.69
 551   A     1  ...   2.56  3.11  2.81   2.70   3.20   3.00      2.46

      BFEC<2.5  BFECAHH  BFECAHA
 0         NaN      NaN      NaN
 1         NaN      NaN      NaN
 2         NaN      NaN      NaN
 3         NaN      NaN      NaN
 4         NaN      NaN      NaN
 ..        ...      ...      ...
 547      1.69     2.13     1.84
 548      2.58     1.87     2.11
 549      3.05     1.98     2.00
 550      2.38     2.11     1.87
 551      1.66     1.88     2.11

 [1104 rows x 134 columns],
 'English League 2':      Div  season        Date   Time        HomeTeam            AwayTeam  FTHG  \
 0     E3      23  05/08/2023  15:00      Accrington      Newport County     3
 1     E3      23  05/08/2023  15:00    Crawley Town            Bradford     1
 2     E3      23  05/08/2023  15:00           Crewe           Mansfield     2
 3     E3      23  05/08/2023  15:00       Doncaster           Harrogate     0
 4     E3      23  05/08/2023  15:00    Forest Green             Salford     0
 ..   ...     ...         ...    ...             ...                 ...   ...
 547  NaN      24  03/05/2025  15:00       Morecambe           Harrogate     1
 548  NaN      24  03/05/2025  15:00  Newport County            Tranmere     1
 549  NaN      24  03/05/2025  15:00    Notts County           Doncaster     1
 550  NaN      24  03/05/2025  15:00       Port Vale          Gillingham     0
 551  NaN      24  03/05/2025  15:00         Swindon  Milton Keynes Dons     0

      FTAG FTR  HTHG  ...  1XBCH 1XBCD 1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
 0       0   H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 1       0   H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 2       2   D     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 3       1   A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 4       2   A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
 ..    ...  ..   ...  ...    ...   ...   ...    ...    ...    ...       ...
 547     2   A     1  ...   2.74  3.59  2.34   2.92   3.65   2.56      1.81
 548     4   A     1  ...   4.18  3.68  1.79   4.50   4.00   1.88      1.93
 549     2   A     0  ...   2.85  3.71  2.23   2.96   3.80   2.46      1.73
 550     1   A     0  ...   1.41  4.29  7.93   1.48   4.70   8.00      1.92
 551     0   D     0  ...   1.78  3.85  4.05   1.88   4.10   4.30      1.72

      BFEC<2.5  BFECAHH  BFECAHA
 0         NaN      NaN      NaN
 1         NaN      NaN      NaN
 2         NaN      NaN      NaN
 3         NaN      NaN      NaN
 4         NaN      NaN      NaN
 ..        ...      ...      ...
 547      2.18     1.81     2.22
 548      2.04     1.84     2.13
 549      2.28     1.85     2.15
 550      2.04     2.09     1.86
 551      2.34     2.11     1.86

 [1104 rows x 134 columns]}

In [43]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [44]:
dict_historical_data['German Bundesliga']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,D1,23,18/08/2023,19:30,Werder Bremen,Bayern Munich,0,4,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,23,19/08/2023,14:30,Augsburg,M'gladbach,4,4,D,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,23,19/08/2023,14:30,Hoffenheim,Freiburg,1,2,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,23,19/08/2023,14:30,Leverkusen,RB Leipzig,3,2,H,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,23,19/08/2023,14:30,Stuttgart,Bochum,5,0,H,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,NaN,24,17/05/2025,14:30,Hoffenheim,Bayern Munich,0,4,A,0.0,...,4.83,4.58,1.65,5.00,4.70,1.69,1.35,3.70,1.92,2.06
302,NaN,24,17/05/2025,14:30,Mainz,Leverkusen,2,2,D,1.0,...,2.57,3.99,2.56,2.46,3.95,2.90,1.51,2.92,1.85,2.16
303,NaN,24,17/05/2025,14:30,M'gladbach,Wolfsburg,0,1,A,0.0,...,2.31,4.21,2.78,2.34,4.30,2.88,1.38,3.50,2.07,1.90
304,NaN,24,17/05/2025,14:30,RB Leipzig,Stuttgart,2,3,A,2.0,...,1.89,4.59,3.54,2.04,4.40,3.45,1.35,3.70,2.04,1.94
305,NaN,24,17/05/2025,14:30,St Pauli,Bochum,0,2,A,0.0,...,1.77,4.19,4.43,1.77,4.20,4.90,1.69,2.40,1.99,1.99